extends layout

block content
  h1 Hello world!
  p.lead Node.js express app template.
  hr
  .row
    .col-sm-6
      h2 Heading
      p Paragraph 1.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Paragraph 2.
      p
        a.btn.btn-default(href='#', role='button') View details »