<% include partials/header %>
<main>
  <div id="slider"></div>
  <section id="common-info">
    <h2>KidsEvent</h2>
    <p>блаблабла</p>
  </section>
  <section id="employees">
    <h3>Наши сотрудники</h3>
    <div class="employee">
      <h4>Имя</h4>
      <p>Описание</p>
    </div>
  </section>
  <section id="reviews">
    <h3>Отзывы</h3>
    <div class="review">
      <h4>Имя</h4>
      <p>Отзыв</p>
    </div>
  </section>
</main>
<% include partials/footer %>