<% include partials/header %>
<main>
  <div id="slider"></div>
  <section id="common-info">
    <h2>KidsEvent</h2>
    <p>блаблабла</p>
  </section>
  <section id="employees">
    <h3>Наши сотрудники</h3>
    <% employees.forEach(function(employee){ %>
    <div class="employee">
      <h4><%= employee.first_name %></h4>
      <p><%= employee.description %></p>
    </div>
    <% }); %>
  </section>
  <section id="reviews">
    <h3>Отзывы</h3>
    <% reviews.forEach(function(review){ %>
      <div class="review">
        <h4><%= review.name %></h4>
        <p><%= review.text %></p>
      </div>
    <% }); %>
  </section>
</main>
<% include partials/footer %>