body > * {
  width: 800px;
  margin: auto; }

header {
  background: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center; }

nav {
  background: green; }

main {
  background: darkcyan; }

#slider {
  margin: auto;
  width: 700px;
  height: 250px;
  background: cornflowerblue; }

#common-info {
  display: flex;
  align-content: center; }

.employee {
  display: flex;
  align-items: center; }
